$bloodred: #880808;
$light-blood: #A64646;
$dark-blood: #440404;
$dark-gray: #777676;

body {
    background-color: black;
}

.bg-blood {
    background-color: $bloodred;
}

.text-blood {
    color: $bloodred;
}

.scary-font {
    font-family: 'Nosifer', cursive;
}

/* search bar */
.search-bar {
  background: transparent;
  border-color: transparent;
  border-bottom: 2px solid black;
  border-radius: 0;
  transition: all .8s;
  color: black;
}

.search-bar::placeholder {
    color: black;
}

.search-bar:focus::placeholder {
    color: transparent;
  }

.search-bar:focus {
  background: transparent;
  border-color: transparent;
  box-shadow: none;
  color: black;
  border-bottom: 2px solid $dark-gray;  
}

.search-button {
    background: black;
    color: $light-blood;
    transition: all .3s;
}

.search-button:hover {
  background: $dark-gray;
  color: $dark-blood;
  transform: translateY(-3px);
}
/* end of search bar */

/* navbar */
.nav-menu {
    padding: 30px;
}

nav {
  border-bottom: 2px solid black ;
}

#navbarSupportedContent {
    a {
        transition: all .3s;
    }
}

#navbarSupportedContent {
    a:hover {
        color: $dark-gray;
        font-size: 1.1rem;
    }
}
/* end of navbar */

/* banner */
header {
  height: 100vh;
}

.banner-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
}

.video-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: .4;
}

.bg-video {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
/* end of banner */

/* mission */
.underline {
  width: 150px;
  border: 3px solid;
  margin: auto;
}
/* end of mission */

/* weekly movies */
#weekly-movies {
  background: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .5)), url(../img/scary-forest.jpg) fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

#weekly-movies {
    img {
        height: 30rem;
        width: auto;
        box-shadow: 5px 5px 20px #000;
        transition: all .5s;
      }
}

@media (max-width: 959px) {
  #weekly-movies-tri{
    display: none;
  }
}

@media (max-width:1180px) and (min-width:959px) {
  #weekly-movies {
    img {
        height: 20rem;
        width: auto;
        box-shadow: 5px 5px 20px #000;
        transition: all .5s;
      }
  }
}

@media (min-width: 959px) {
  #weekly-movies-carousel {
    display: none;
  }
  #weekly-movies img:hover {
    cursor: pointer;
    transform: scale(1.2);
    box-shadow: 25px 25px 15px #000;
  }
}
/* end of weekly movies */

/* PROFILE PG */
.profile-blurb {
  border: solid white;
}


.about-me {
    h5 {
        border-bottom: solid $bloodred;
      }
}

.carousel {
    img {
        height: 364px;
      }
}

.border-bottom-blood {
    border-bottom: 2px solid $bloodred;
    width: 30%;
    margin: auto;
}

.activities {
  margin-left: 26%;
}

.activity {
    position: relative;
    margin-bottom: 20px;
}

.profile-icon {
    width: 30px;
    margin-right: 10px;
    border-radius: 30%;
    border: .5px solid white;
}

.comment-movie-title {
  font-style: italic;
}

.user-activity {
  display: inline-flex;
  width: 30rem;
  padding-left: 30px;
}
/* END OF PROFILE PG */

/* My Lists PG */
#lists {
  margin-bottom: 40px;
}
.watchlist {
  .list-movie:nth-child(even) {
    background-color: rgba(68, 68, 67, 0.5);
  }
}

.watched-list {
  .list-movie:nth-child(odd) {
    background-color: rgba(68, 68, 67, 0.5);
  }
}

.list-title {
  margin-bottom: 30px;
  padding-top: 30px;
}

.separator {
  border-top: 2px solid white;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.movie-title {
  color: white;
}

.movie-info {
  color: #CCCCCC;
  font-size: 12px;
}

.movie-description {
  color: white;
  display: inline-block;
  width: 90%;
}

.list-movie {
  img {
    height: 200px;
    width: auto;
  }
}
.list-movie {
  padding-top: 15px;
  padding-bottom: 15px;
}
/* End of My Lists PG */

/* footer */
.instagram {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%,
  #fd5949 45%,#d6249f 60%,#285AEB 90%);
  box-shadow: 0 0 5px rgba(0, 0, 0, .5);
  border-radius: 60px;
  place-items: center;
}
/* end of footer */
